@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200");

* {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

#__captcha__ {
  width: 230px;
  padding: 5px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
}

#__screen__ {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  height: 50px;
  width: 230px;
  box-sizing: border-box;
}

#__screen__ + div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#__input-w__ {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 5px;
  width: calc(100% - 30px - 5px - 10px);
}

#__input-w__ > input {
  width: calc(100% - 5px);
  margin-bottom: 5px;
}

#__controls__ {
  display: grid;
  width: 30px;
  grid-gap: 5px;
  position: relative;
}

#__controls__ > #__info-box__ {
  position: absolute;
  width: 100px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #fff;
  font-size: 10px;
  top: 80px;
}
#__controls__ > #__info-box__[data-status="visible"] {
  display: block;
}
#__controls__ > #__info-box__[data-status="hidden"] {
  display: none;
}

#__verified__ {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  margin: 0 auto;
  justify-content: center;
}

#__verified__::before {
  content: " ";
  display: block;
  margin-right: 5px;
  background-image: url(./check.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
}

button {
  cursor: pointer;
}
